<div class ="contents row">

    <% if user_signed_in? && current_user.id == @blog.user_id %>
     <li> <%= link_to '詳細', "/blogs/#{blog.id}", method: :get %></li>
    <% end %>

    <%= simple_format(@blog.text) %>

    <span class="name">
      <a href="/users/<%= @blog.user.id %>">
        <span>投稿者</span><%= @blog.user.name %>
      </a>
    </span>
  </div>
</div>
